html, body {
	margin: 10px;
}

div {
	margin : 5px;
}

form {
	margin: 5px;
}

.panel {
	display: inline-block;
	width: 33%;
}

.status {
	height: 25px;
	width: 100%;
	background: #dcdcdc;
}

h1 {
	font-size: 2.5em;
	letter-spacing: 15px;
}

.program-text {
	font-family: 'Open Sans';
}

.todo-text {
	font-family: 'Shadows Into Light';
}